{% extends "layout/base.html" %}

{% block page_title %}Confirm Email Address{% endblock page_title %}

{% block content %}
<div class="flex flex-col justify-center items-center h-full w-full">
	<div class="w-full max-w-md">
		<h1 class="text-2xl font-bold">Confirm Email Address</h1>
        <p class="mt-2">
            {% with confirmation.email_address.email as email %}
                Please confirm your email address: <a href="mailto:{{ email }}">{{ email }}</a>
            {% endwith %}
        </p>

        {% if confirmation %}
		<form method="POST" action="{% url 'account_confirm_email' confirmation.key %}" class="grid grid-cols-1 gap-4 mt-8">
			{% csrf_token %}

			<button class="button" type="submit">Confirm</button>
		</form>

        {% else %}
            {% url 'account_email' as email_url %}
            <p>
                This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.
            </p>
        {% endif %}
	</div>
</div>

{% endblock %}
