[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1"
django-extensions = "*"
whitenoise = "*"
django-allauth = "*"
werkzeug = "*"
dj-database-url = "*"
psycopg2 = "*"
gunicorn = "*"

[dev-packages]
black = "*"
ruff = "*"
pytest = "*"
pytest-env = "*"
pytest-django = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
