{{ errors }}

{% if errors and not fields %}
  <div>{% for field in hidden_fields %}{{ field }}{% endfor %}</div>
{% endif %}

{% for field, errors in fields %}
    {{ errors }}

    {% if field.use_fieldset %}<fieldset>{% endif %}

    {% if field.field.widget.input_type  == 'checkbox' %}
        <label for="{{ field.name }}" class="inline-flex items-center">
            {{ field }}
            <span class="text-gray-700 ml-2">{{ field.label }}</span>
        </label>
    {% else %}
        <label for="{{ field.name }}" class="block">
            <span class="text-gray-700">{{ field.label }}</span>
            {{ field }}
        </label>
    {% endif %}

    {% if field.help_text %}<div class="helptext">{{ field.help_text|safe }}</div>{% endif %}
    {% if field.use_fieldset %}</fieldset>{% endif %}

    {% if forloop.last %}
      {% for field in hidden_fields %}{{ field }}{% endfor %}
    {% endif %}
{% endfor %}

{% if not fields and not errors %}
  {% for field in hidden_fields %}{{ field }}{% endfor %}
{% endif %}
