{% load static %} {% load icons %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{% static 'build/css/tailwind.css' %}" />
		<script defer src="{% static 'build/js/global.js' %}"></script>
		<link rel="icon" href="{% static 'img/favicon.ico' %}" />
		<title>Django Goblincore Stack</title>
	</head>
	<body class="flex flex-col">
		<header class="px-8 py-4 border-b border-gray-300 shadow-sm">
			<nav class="flex items-center justify-between">
				<a href="{% url 'home' %}" aria-label="Home" class="flex items-center gap-3">
					<img
						src="{% static 'img/goblincore_stack.png' %}"
						alt="Site Logo"
						class="w-12 h-12 object-center shadow border border-gray-300 rounded-full"
					/>
					<span class="text-slate-900 font-bold text-lg">Django Goblincore Stack</span>
				</a>
			</nav>
		</header>
		<main class="flex flex-1">
			<!-- prettier-ignore -->
			{% block content %}
			<!-- prettier-ignore -->
			{% endblock %}
		</main>
		<footer>Footer</footer>
	</body>
</html>
